<%= render 'main_banner' %>
<%= render 'articles' %>
<%= render 'categories' %>

<p>Total de variáveis <%=ENV.size%><p>
<p>valor da variável DEFAULT_PASSWORD <%=ENV['DEFAULT_PASSWORD']%><p>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<%= render partial: 'article', collection: @articles  %>



